<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Help</h1>
    <p>
    	In a dire of questions, please sent me an 
    	<a href="mailto:karol.bekieszczuk@gmail.com">e-mail</a>
		</p>
	</body>
</html>