<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<div>
<ul class="users list-group"><% @user_groups.each do |user_group| %>
	<li class="list-group-item"><%= link_to user_group.name, user_group_path(user_group.id) %></li>
	<br />
</ul>
<% end %>
</div>
<br />
<div class="new_user_group">
	<%= link_to 'Create new group', new_user_group_path, class: "btn btn-primary" %>
</div>