<h1>New User Group</h1>

    <%= form_for(@user_group) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.hidden_field :user_id, value: current_user.id %>

      <%= f.submit "Create group", class: "btn btn-primary" %>

    <% end %>

<%= link_to 'Back', user_groups_path %>
