<% provide(:title, "Events") %>
<p id="notice"><%= notice %></p>

<h1><%= @group_name.name %> events</h1>

<br>

<%= link_to 'New Event', new_user_group_event_path, class: "btn btn-primary" %>
<br />

<br>

<div id='calendar'></div>

