<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<%= link_to 'Edit', edit_user_group_event_path(id: @event.id), class: "btn btn-primary btn-sm" %>
<% if current_user.admin? || current_user.id == @event.creator_id %>
	<%= link_to "Delete", user_group_event_path(params[:user_group_id], @event), :confirm => "Are you sure you want to delete this event?", :method=>:delete, :class=>:destroy, class: "btn btn-primary btn-sm" %>
<% end %>
<%= link_to 'Back', user_group_events_path, class: "btn btn-primary btn-sm" %>
