<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Tasker", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path, class: "btn btn-default btn-xs" %></li>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li><%= link_to "Users", users_path, class: "btn btn-default btn-xs" %></li>
          <% end %>
          <li><%= link_to "Groups", user_groups_path, class: "btn btn-default btn-xs" %></li>
          <li>
            <a href="#" class="dropdown-toggle dropdown btn btn-default btn-xs",  data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path, class: "btn btn-default btn-xs" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>